@import '../../App.scss';

#comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: $radius-large;
  border: 1px solid transparent;

  .title-bar {
    width: 100%;
    padding: 12px;
    background: $lightest;
    border-radius: $radius-medium;

    input[type=checkbox] {
      background: #FFFFFF;
      border: 1px solid #CAD0D2;
      width: 16px;
      height: 16px;
      margin: 0;
    }

    h4.issue-title, span.issue-num, span.timestamp {
      display: inline-block;
    }

    h4.issue-title { margin: 0 0 0 12px; }
    span.issue-num {
      color: $dark;
      margin: 0 0 0 4px;
    }
    span.timestamp {
      color: $dark;
      border-left: 1px solid $keyline;
      margin: 0 0 0 8px;
      padding: 0 0 0 8px;
    }
  }

  .comment {
    padding: 16px 8px 0px 7px;

    img.avatar {
      float: left;
    }

    .comment-body {
      display: inline-block;
      float: left;
      margin: 0 0 0 12px;
      line-height: 24px;
      width: calc(100% - 40px);

      img {
        width: 100%;
        border-radius: 4px;
        margin: 8px 0 0 0;
      }

      p {
        margin: 12px 0 0 0;

        &:first-child { margin: 0; }
      }
    }
  }

  &:hover {
    border: 1px solid $keyline;
  }
}
